XML Schema/2012 v1.1/IMROPT2012-xhtml-model-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- =================================================================== -->
<!--                                            Lokale versie                                                                         -->
<!--       	             Onderdeel van IMROPT2012 versie 1.0.1                                                     -->
<!--                        Onderdeel van RO Standaarden 2012                                                           -->
<!-- =================================================================== -->
<!-- Remote versie op:																											 -->
<!-- http://schemas.geonovum.nl/imro/pt/2012/1.0/IMROPT2012.xsd                                            -->
<!-- =================================================================== -->
<!-- Geonovum, Beheerorganisatie RO-Standaarden. http://ro-standaarden.geonovum.nl -->
<!-- =================================================================== -->
<!-- versieinfo -->
<!-- 2012-10-30 Versie 1.0.1 gepubliceerd -->
<!-- Geen aanpassingen -->
<!-- 2012-09-27 Versie 1.0.1.1RC voor test door RO-Online -->
<!-- 2012-07-10 Versie 1.0.0.1 gepubliceerd -->
<!-- Geldig vanaf 2012-07-22 -->
<!-- 2012-07-04 Versie 1.0.0.1 nog niet gepubliceerd -->
<!-- geen aanpassing -->
<!-- 2012-03-01 Versie 1.0.0 Gepubliceerd -->
<!-- 2012-02-08 -->
<!-- inhoud overgenomen van 2008 versie -->
<!-- namespaces en verwijzingen aangepast -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xh11d="http://www.w3.org/1999/xhtml/datatypes/" xmlns:imropt="http://www.geonovum.nl/imro/pt/2012/1.0" xmlns="http://www.w3.org/1999/xhtml" targetNamespace="http://www.w3.org/1999/xhtml" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/1999/xhtml/datatypes/" schemaLocation="XHTML-Basic/xhtml-datatypes-1.xsd"/>
	<xs:annotation>
		<xs:documentation> 
            Dit is het XML Schema module voor het content model voor IMRO-PT2008-xhTML
           roxhtml-model-1.xsd
        </xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation> 
            XHTML Document Model 
            This module describes the groupings of elements/attributes 
            that make up common content models for XHTML elements. 
            XHTML has following basic content models: 
               xhtml.Inline.mix; character-level elements
               xhtml.Block.mix; block-like elements, e.g., paragraphs and lists
               xhtml.Flow.mix; any block or inline elements 
               xhtml.HeadOpts.mix; Head Elements 
               xhtml.InlinePre.mix; Special class for pre content model 
               xhtml.InlineNoAnchor.mix; Content model for Anchor 
            
            Any groups declared in this module may be used to create 
            element content models, but the above are considered 'global' 
            (insofar as that term applies here). XHTML has the
            following Attribute Groups 
               xhtml.Core.extra.attrib 
               xhtml.I18n.extra.attrib
               xhtml.Common.extra 
            
            The above attribute Groups are considered Global 
        </xs:documentation>
	</xs:annotation>
	<xs:attributeGroup name="xhtml.I18n.extra.attrib">
		<xs:annotation>
			<xs:documentation> Extended I18n attribute </xs:documentation>
		</xs:annotation>
	</xs:attributeGroup>
	<xs:attributeGroup name="xhtml.Common.extra">
		<xs:annotation>
			<xs:documentation> Extended Common Attributes </xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="xhtml.style.attrib">
			<xs:annotation>
				<xs:documentation> 
                "style" attribute from Inline Style Module 
                </xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:attributeGroup>
	<xs:attributeGroup name="xhtml.Core.extra.attrib">
		<xs:annotation>
			<xs:documentation> Extend Core Attributes </xs:documentation>
		</xs:annotation>
	</xs:attributeGroup>
	<xs:attributeGroup name="xhtml.Global.core.extra.attrib">
		<xs:annotation>
			<xs:documentation> Extended Global Core Attributes </xs:documentation>
		</xs:annotation>
	</xs:attributeGroup>
	<xs:attributeGroup name="xhtml.Global.I18n.extra.attrib">
		<xs:annotation>
			<xs:documentation> Extended Global I18n attributes </xs:documentation>
		</xs:annotation>
	</xs:attributeGroup>
	<xs:attributeGroup name="xhtml.Global.Common.extra">
		<xs:annotation>
			<xs:documentation> Extended Global Common Attributes </xs:documentation>
		</xs:annotation>
	</xs:attributeGroup>
	<xs:group name="xhtml.Misc.extra">
		<xs:sequence/>
	</xs:group>
	<!--
    These elements are neither block nor inline, and can
    essentially be used anywhere in the document body.
  -->
	<xs:group name="xhtml.Misc.class">
		<xs:choice>
			<xs:group ref="xhtml.Misc.extra"/>
		</xs:choice>
	</xs:group>
	<!-- Inline Elements -->
	<xs:group name="xhtml.InlStruct.class">
		<xs:choice>
			<xs:element name="br" type="xhtml.br.type"/>
		</xs:choice>
	</xs:group>
	<xs:group name="xhtml.InlPhras.class">
		<xs:choice>
			<xs:element name="em" type="xhtml.em.type"/>
			<xs:element name="strong" type="xhtml.strong.type"/>
		</xs:choice>
	</xs:group>
	<xs:group name="xhtml.InlPres.class">
		<xs:choice>
			<xs:element name="i" type="xhtml.InlPres.type"/>
			<xs:element name="b" type="xhtml.InlPres.type"/>
			<xs:element name="sub" type="xhtml.InlPres.type"/>
			<xs:element name="sup" type="xhtml.InlPres.type"/>
		</xs:choice>
	</xs:group>
	<xs:group name="xhtml.Anchor.class">
		<xs:sequence>
			<xs:element name="a" type="xhtml.a.type"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="xhtml.InlSpecial.class">
		<xs:choice>
			<xs:element name="img" type="xhtml.img.type"/>
		</xs:choice>
	</xs:group>
	<xs:group name="xhtml.Inline.extra">
		<xs:choice/>
	</xs:group>
	<!--
    Inline.class includes all inline elements,
    used as a component in mixes
  -->
	<xs:group name="xhtml.Inline.class">
		<xs:choice>
			<xs:group ref="xhtml.InlStruct.class"/>
			<xs:group ref="xhtml.InlPhras.class"/>
			<xs:group ref="xhtml.InlPres.class"/>
			<xs:group ref="xhtml.AnchorImropt.class"/>
			<xs:group ref="xhtml.InlSpecial.class"/>
			<xs:group ref="xhtml.InlineImropt.class"/>
			<xs:group ref="xhtml.Inline.extra"/>
		</xs:choice>
	</xs:group>
	<!--
    InlinePre.mix
    Used as a component in pre model
  -->
	<xs:group name="xhtml.InlinePre.mix">
		<xs:choice>
			<xs:group ref="xhtml.InlStruct.class"/>
			<xs:group ref="xhtml.InlPhras.class"/>
			<xs:element name="i" type="xhtml.InlPres.type"/>
			<xs:element name="b" type="xhtml.InlPres.type"/>
			<xs:group ref="xhtml.AnchorImropt.class"/>
			<xs:group ref="xhtml.Misc.class"/>
			<xs:group ref="xhtml.Inline.extra"/>
		</xs:choice>
	</xs:group>
	<!--
    InlNoAnchor.class includes all non-anchor inlines,
    used as a component in mixes
  -->
	<xs:group name="xhtml.InlNoAnchor.class">
		<xs:choice>
			<xs:group ref="xhtml.InlStruct.class"/>
			<xs:group ref="xhtml.InlPhras.class"/>
			<xs:group ref="xhtml.InlPres.class"/>
			<xs:group ref="xhtml.InlSpecial.class"/>
			<xs:group ref="xhtml.Inline.extra"/>
		</xs:choice>
	</xs:group>
	<!--
    InlNoAnchor.mix includes all non-anchor inlines
  -->
	<xs:group name="xhtml.InlNoAnchor.mix">
		<xs:choice>
			<xs:group ref="xhtml.InlNoAnchor.class"/>
			<xs:group ref="xhtml.Misc.class"/>
		</xs:choice>
	</xs:group>
	<!--
    Inline.mix includes all inline elements, including Misc.class
  -->
	<xs:group name="xhtml.Inline.mix">
		<xs:choice>
			<xs:group ref="xhtml.Inline.class"/>
			<xs:group ref="xhtml.Misc.class"/>
		</xs:choice>
	</xs:group>
	<!--extra klassen voor inline imro elementen (worden pas gedefinieerd in de driver) -->
	<xs:group name="xhtml.InlineImropt.class">
		<xs:sequence/>
	</xs:group>
	<xs:group name="xhtml.AnchorImropt.class">
		<xs:sequence/>
	</xs:group>
	<!--
    In the HTML 4 DTD, heading and list elements were included
    in the block group. The Heading.class and
    List.class groups must now be included explicitly
    on element declarations where desired.
  -->
	<xs:group name="xhtml.List.class">
		<xs:choice>
			<xs:element name="ul" type="xhtml.ul.type"/>
			<xs:element name="ol" type="xhtml.ol.type"/>
		</xs:choice>
	</xs:group>
	<!-- een nieuwe klasse SimpleTable, met alleen <table>, <tr>, <th> en <td> toegestaan -->
	<xs:group name="xhtml.SimpleTable.content">
		<xs:sequence>
			<xs:element name="tr" type="xhtml.tr.type" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="xhtml.SimpleTable.type">
		<xs:group ref="xhtml.SimpleTable.content"/>
		<xs:attributeGroup ref="xhtml.table.attlist"/>
	</xs:complexType>
	<xs:group name="xhtml.SimpleTable.class">
		<xs:choice>
			<xs:element name="table" type="xhtml.SimpleTable.type"/>
		</xs:choice>
	</xs:group>
	<xs:group name="xhtml.BlkStruct.class">
		<xs:choice>
			<xs:element name="p" type="xhtml.p.type"/>
		</xs:choice>
	</xs:group>
	<xs:group name="xhtml.BlkSpecial.class">
		<xs:choice>
			<xs:group ref="xhtml.SimpleTable.class"/>
		</xs:choice>
	</xs:group>
	<!--
    Block.class includes all block elements,
    used as an component in mixes
  -->
	<xs:group name="xhtml.Block.class">
		<xs:choice>
			<xs:group ref="xhtml.BlkStruct.class"/>
			<xs:group ref="xhtml.BlkSpecial.class"/>
		</xs:choice>
	</xs:group>
	<!--
   Block.mix includes all block elements plus %Misc.class;
  -->
	<xs:group name="xhtml.Block.mix">
		<xs:choice>
			<xs:group ref="xhtml.List.class"/>
			<xs:group ref="xhtml.Block.class"/>
			<xs:group ref="xhtml.Misc.class"/>
		</xs:choice>
	</xs:group>
	<!--
    All Content Elements
    Flow.mix includes all text content, block and inline
    Note that the "any" element included here allows us
    to add data from any other namespace, a necessity
    for compound document creation.
    Note however that it is not possible to add
    to any head level element without further
    modification. To add RDF metadata to the head
    of a document, modify the structure module.
  -->
	<xs:group name="xhtml.Flow.mix">
		<xs:choice>
			<xs:group ref="xhtml.List.class"/>
			<xs:group ref="xhtml.Block.class"/>
			<xs:group ref="xhtml.Inline.class"/>
			<xs:group ref="xhtml.Misc.class"/>
		</xs:choice>
	</xs:group>
	<!--
    BlkNoForm.mix includes all non-form block elements,
    plus Misc.class
  -->
	<xs:group name="xhtml.BlkNoForm.mix">
		<xs:choice>
			<xs:group ref="xhtml.List.class"/>
			<xs:group ref="xhtml.BlkStruct.class"/>
			<xs:group ref="xhtml.SimpleTable.class"/>
			<xs:group ref="xhtml.Misc.class"/>
		</xs:choice>
	</xs:group>
</xs:schema>
